FORMAT: 1A
HOST: https://openapi.qsrvietnam.com/

# qsropenapi

QSR Open API is a Open API allowing partners to view and post in them.

## Authorization Token

### Authorization Token [/v1/auth/realms/openid-connect/token]

#### Get Authorization/Refresh Token [POST]

+ Request (application/json)

        {
            "grant_type": "client_credentials",
            "client_id": "client_id",
            "client_secret": "client_secret"
        }

+ Request (application/json)

        {
            "grant_type": "refresh_token",
            "refresh_token": "refresh_token"
        }

+ Response 200 (application/json)

    + Body
    
            {
                "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJvd1F6b2ZzSnV1SXJXMHNWYU5tSWMzdVY4RGJQc1g3QUtTSjBOLU1SR0pNIn0.eyJqdGkiOiI5MDdkODkzYi0xNDVhLTQ3ODEtOWZjMi1kYWJjZjViN2FkMDEiLCJleHAiOjE2MDM1Mjc2MDYsIm5iZiI6MCwiaWF0IjoxNjAzNTI1ODA2LCJpc3MiOiJodHRwczovL3V1a3VhdC50YXB0YXAuY29tLnZuL2F1dGgvcmVhbG1zL2xveWFsdHkiLCJhdWQiOlsibG95YWx0eS1jbGllbnQiLCJhY2NvdW50Il0sInN1YiI6IjM5NjI3NmI2LTk2Y2YtNDJiNy05OTI2LTNmMWZlYTcxZmJkMiIsInR5cCI6IkJlYXJlciIsImF6cCI6ImdhbGF4eS1jbGllbnQiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI4MmI3NzAyNi1iN2NlLTQ4N2UtYTI1NC03YzMxYmVjZTc3NmQiLCJhY3IiOiIxIiwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iXX0sInJlc291cmNlX2FjY2VzcyI6eyJsb3lhbHR5LWNsaWVudCI6eyJyb2xlcyI6WyJsb3lhbHR5X2FkbWluIiwidW1hX3Byb3RlY3Rpb24iXX0sImdhbGF4eS1jbGllbnQiOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iLCJnYWxheHlfYWRtaW4iXX0sImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoiZW1haWwgcHJvZmlsZSIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50SG9zdCI6IjE0LjI0MS4yNDMuMTQ0IiwiY2xpZW50SWQiOiJnYWxheHktY2xpZW50IiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZS1hY2NvdW50LWdhbGF4eS1jbGllbnQiLCJjbGllbnRBZGRyZXNzIjoiMTQuMjQxLjI0My4xNDQifQ.iHRlLRdsGXWRgy_cAHMz483p0qxnzZ014JGKu6wHFNE8BPz1BjGX2QjdwVi0xCSJtXgrxb5WbrfuVW9KX0TxCQNZMVydPp4nwN7PneExMhStpwHTpgSMayitr3-Lq0ivIt8ysp4e5MvbWqkGce2cAaqGL8SPPpzOiCAnLfTyMqYOnFIyItXUk7N4t8TEe51eBhbb1chIbU5E-G52fTYz77m9eaLmRxBVo1JIIe8h1fwb8vvut7VigdzmsDVq5DB3B0Px2DRgnScW2HdADuNjN5iUa7cM5S2XQtkNVS6LaM36LrjGmLDo1PDcR2NKWISciQHsKTJ7Rs_VmdSLCSHy-w",
                "expires_in": 1800,
                "refresh_expires_in": 1800,
                "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI1YzMxNjQ4Mi04MDU1LTQ3NmEtYmViZS0wMTY4MzkxMDlkYTIifQ.eyJqdGkiOiI1NTQ0MGRjNC01NmRkLTQxZTUtYjJiMC0yZTJlYmQ2M2E4OWMiLCJleHAiOjE2MDM1Mjc2MDYsIm5iZiI6MCwiaWF0IjoxNjAzNTI1ODA2LCJpc3MiOiJodHRwczovL3V1a3VhdC50YXB0YXAuY29tLnZuL2F1dGgvcmVhbG1zL2xveWFsdHkiLCJhdWQiOiJodHRwczovL3V1a3VhdC50YXB0YXAuY29tLnZuL2F1dGgvcmVhbG1zL2xveWFsdHkiLCJzdWIiOiIzOTYyNzZiNi05NmNmLTQyYjctOTkyNi0zZjFmZWE3MWZiZDIiLCJ0eXAiOiJSZWZyZXNoIiwiYXpwIjoiZ2FsYXh5LWNsaWVudCIsImF1dGhfdGltZSI6MCwic2Vzc2lvbl9zdGF0ZSI6IjgyYjc3MDI2LWI3Y2UtNDg3ZS1hMjU0LTdjMzFiZWNlNzc2ZCIsInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJvZmZsaW5lX2FjY2VzcyIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsibG95YWx0eS1jbGllbnQiOnsicm9sZXMiOlsibG95YWx0eV9hZG1pbiIsInVtYV9wcm90ZWN0aW9uIl19LCJnYWxheHktY2xpZW50Ijp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIiwiZ2FsYXh5X2FkbWluIl19LCJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJzY29wZSI6ImVtYWlsIHByb2ZpbGUifQ.3YqCUcFymbmGe_movwT2sVLvxeqTN-e4fJeUgIOZdwE",
                "token_type": "bearer",
                "not-before-policy": 0,
                "session_state": "e7a30f53-4f9e-40d9-aa9f-a8da3b6c75ae",
                "scopeId": 1
            }


## Group Scope Business

Resources related to scope business in the API.

### Scope Business Details [/v1/scope/details?scopeId={scopeId}]

#### Get Scope Business Details [GET]

+ Request (application/json)

    + Headers
            
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MDczZmQyYWIxYTJkNjU3ZmNkZDdmZDEiLCJyb2xlIjoiYmFzaWMiLCJpYXQiOjE2MTg0MTA2NDcsImV4cCI6MTY0OTk0NjY0N30.YgTSSci9mfm6al_wD7dAEFW8SD_ZVYIsm0hix6-Z9rw

+ Parameters
    + scopeId: `1` (number, required)
    
+ Response 200 (application/json)

    + Body

            {
                "scopeId": 1,
                "scopeName": "QSR and FORK",
                "scopeBusiness": {
                    "brands": [
                        {
                            "id": 1,
                            "code": "tpc",
                            "isIncludedTax": true,
                            "taxValue": 0,
                            "altName": "TPC",
                            "translations": [
                                {
                                    "brandId": 1,
                                    "languageCode": "en",
                                    "shortName": "The Pizza Company",
                                    "longName": "The Pizza Company",
                                    "description": "Description"
                                }
                            ]
                        }
                    ],
                    "menus": [
                        "id": 1,
                        "name": "QSR Menu For All Brand"
                    ],
                    "paymenTypes": [
                        {
                            "id": 1,
                            "code": "FORK-POD",
                            "translations": [
                                {
                                    "paymentTypeId": 1,
                                    "languageCode": "en",
                                    "name": "Pay On Delivery",
                                    "description": "Description"
                                }
                            ]
                        }
                    ],
                    "orderTypes": [
                        {
                            "id": 1,
                            "code": "1",
                            "translations": [
                                {
                                    "orderTypeId": 1,
                                    "languageCode": "en",
                                    "name": "Delivery",
                                    "description": "Description"
                                }
                            ]
                        },
                        {
                            "id": 2,
                            "code": "2",
                            "translations": [
                                {
                                    "orderTypeId": 2,
                                    "languageCode": "en",
                                    "name": "Takeaway",
                                    "description": "Description"
                                }
                            ]
                        }
                    ],
                    "orderChannel": [
                        {
                            "id": 1,
                            "code": "1",
                            "name": "Fork - Out of Store"
                        },
                        {
                            "id": 2,
                            "code": "2",
                            "name": "Fork - At Store"
                        }
                    ],
                    "discounts": [
                        {
                            "id": 1,
                            "code": "1",
                            "translations": [
                                {
                                    "discountId": 1,
                                    "languageCode": "en",
                                    "title": "Title",
                                    "description": "Description"
                                }
                            ],
                            "conditions": {
                                "minBill": 300000
                            },
                            "discountType": "percent",
                            "discountValue": {
                                "amount": 30,
                                "maxAmount": 80000
                            }
                        }
                    ],
                    "defaultResTableId": 8888,
                    "defaultWaiterId": 10014,
                    "defaultGuestTypeId": 1,
                    "defaultGuestCount": 1
                }
            }


## Group Restaurants

Resources related to restaurants in the API.

### Restaurants Collection [/v1/restaurants?brandId={brandId}&status={status}&page={page}&size={size}]

#### List All Restaurants [GET]

+ Request (application/json)

    + Headers
            
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MDczZmQyYWIxYTJkNjU3ZmNkZDdmZDEiLCJyb2xlIjoiYmFzaWMiLCJpYXQiOjE2MTg0MTA2NDcsImV4cCI6MTY0OTk0NjY0N30.YgTSSci9mfm6al_wD7dAEFW8SD_ZVYIsm0hix6-Z9rw

+ Parameters
    + brandId: `1` (number, required)
    + status: `Active` (string, optional)
    + page: `0` (number, optional)
    + size: `10` (number, optional)

+ Response 200 (application/json)

        [
            {
                "id": "1",
                "code": "1",
                "name": "The Pizza Company Nguyen Thai Hoc",
                "status": "Active",
                "brandId": 1,
                "phone": "+84838206626",
                "fullAddress": "",
                "location": {
                    "lat": "",
                    "lng": "",
                    "country": "Vietnam",
                    "city": "Ho Chi Minh City",
                    "district": "District 1",
                    "ward": "Ward Cau Ong Lanh",
                    "street": "Nguyen Thai Hoc Street",
                    "houseno": "107"
                },
                "translations": [
                    {
                        "languageCode": "en",
                        "name": "The Pizza Company Nguyen Thai Hoc",
                        "shortDescription": "Short Description",
                        "metaTitle": "Meta Title",
                        "metaKeyword": "Meta Keywords",
                        "metaDescription": "Meta Keywords"
                    }
                ],
                "isScheduledOrder": true,
                "isDelivery": true,
                "isPickup": true,
                "minDeliveryTime": "30",
                "maxDeliveryTime": "40",
                "openingTime": "10:00",
                "closingTime": "22:00",
                "publishedAt": "2021-12-05T08:40:51.620Z",
                "createdAt": "2021-12-05T08:40:51.620Z",
                "updatedAt": "2021-12-05T08:40:51.620Z"
            }
        ]


### Restaurant Details [/v1/restaurants/details?brandId={brandId}&id={id}]

#### Inquiry Restaurant Details [GET]

+ Request (application/json)

    + Headers
            
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MDczZmQyYWIxYTJkNjU3ZmNkZDdmZDEiLCJyb2xlIjoiYmFzaWMiLCJpYXQiOjE2MTg0MTA2NDcsImV4cCI6MTY0OTk0NjY0N30.YgTSSci9mfm6al_wD7dAEFW8SD_ZVYIsm0hix6-Z9rw

+ Parameters
    + brandId: `1` (number, required)
    + id: `1` (number, required)

+ Response 200 (application/json)

        {
            "id": "1",
            "code": "1",
            "name": "The Pizza Company Nguyen Thai Hoc",
            "status": "Active",
            "brandId": 1,
            "phone": "+84838206626",
            "fullAddress": "",
            "location": {
                "lat": "",
                "lng": "",
                "country": "Vietnam",
                "city": "Ho Chi Minh City",
                "district": "District 1",
                "ward": "Ward Cau Ong Lanh",
                "street": "Nguyen Thai Hoc Street",
                "houseno": "107"
            },
            "translations": [
                {
                    "languageCode": "en",
                    "name": "The Pizza Company Nguyen Thai Hoc",
                    "shortDescription": "Short Description",
                    "metaTitle": "Meta Title",
                    "metaKeyword": "Meta Keywords",
                    "metaDescription": "Meta Keywords"
                }
            ],
            "isScheduledOrder": true,
            "isDelivery": true,
            "isPickup": true,
            "minDeliveryTime": "30",
            "maxDeliveryTime": "40",
            "openingTime": "10:00",
            "closingTime": "22:00",
            "publishedAt": "2021-12-05T08:40:51.620Z",
            "createdAt": "2021-12-05T08:40:51.620Z",
            "updatedAt": "2021-12-05T08:40:51.620Z"
        }


### Restaurant Table Details [/v1/restaurants/details/tables?brandId={brandId}&id={id}]

#### Inquiry Restaurant Table Details [GET]

+ Request (application/json)

    + Headers
            
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MDczZmQyYWIxYTJkNjU3ZmNkZDdmZDEiLCJyb2xlIjoiYmFzaWMiLCJpYXQiOjE2MTg0MTA2NDcsImV4cCI6MTY0OTk0NjY0N30.YgTSSci9mfm6al_wD7dAEFW8SD_ZVYIsm0hix6-Z9rw

+ Parameters
    + brandId: `1` (number, required)
    + id: `1` (number, required)

+ Response 200 (application/json)
        
        {
            "totalRecord": 10,
            "content": [
                {
                    "id": "1",
                    "code": "1",
                    "brandId": 1,
                    "restaurantId": 1,
                    "name": "A1",
                    "floor": "1",
                    "status": "Active"
                }
            ]
        }


## Group Menu

Resources related to menu in the API.

### Brand Menu Details [/v1/menu/details?brandId={brandId}&menuId={menuId}]

#### Inquiry Brand Menu Details [GET]

+ Request (application/json)

    + Headers
            
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MDczZmQyYWIxYTJkNjU3ZmNkZDdmZDEiLCJyb2xlIjoiYmFzaWMiLCJpYXQiOjE2MTg0MTA2NDcsImV4cCI6MTY0OTk0NjY0N30.YgTSSci9mfm6al_wD7dAEFW8SD_ZVYIsm0hix6-Z9rw

+ Parameters
    + brandId: `1` (number, required)
    + menuId: `1` (number, required)

+ Response 200 (application/json)
        
        {
            "menuCategories": [
                {
                    "id": 1,
                    "parentId": NULL,
                    "menuId": 1,
                    "brandId": 1,
                    "code": "1",
                    "name": "Promotions",
                    "sort": 0,
                    "status": "Active",
                    "translations": [
                        "menuCategoryId": 1,
                        "languageCode": "en",
                        "name": "Promotions",
                        "description": "Description"
                    ]
                },
                {
                    "id": 2,
                    "parentId": NULL,
                    "menuId": 1,
                    "brand_id": 1,
                    "code": "2",
                    "name": "Pizza",
                    "sort": 0,
                    "status": "Active",
                    "translations": [
                        "menuCategoryId": 2,
                        "language_code": "en",
                        "name": "Pizza",
                        "description": "Description"
                    ]
                },
                {
                    "id": 3,
                    "parentId": 2,
                    "menuId": 1,
                    "brandId": 1,
                    "code": "3",
                    "name": "Pizza Pesto",
                    "sort": 0,
                    "status": "Active",
                    "translations": [
                        "menuCategoryId": 3,
                        "languageCode": "en",
                        "name": "Pizza Pesto",
                        "description": "Description"
                    ]
                },
                {
                    "id": 4,
                    "parentId": NULL,
                    "menuId": 1,
                    "brandId": 1,
                    "code": "4",
                    "name": "Salad",
                    "sort": 0,
                    "status": "Active",
                    "translations": [
                        "menuCategoryId": 4,
                        "languageCode": "en",
                        "name": "Salad",
                        "description": "Description"
                    ]
                },
                {
                    "id": 5,
                    "parentId": NULL,
                    "menuId": 1,
                    "brandId": 1,
                    "code": "5",
                    "name": "Salad",
                    "sort": 0,
                    "status": "Active",
                    "translations": [
                        "menuCategoryId": 4,
                        "languageCode": "en",
                        "name": "Salad",
                        "description": "Description"
                    ]
                }
            ],
            "menuItems": [
                {
                    "id": 1,
                    "menuId": 1,
                    "brandId": 1,
                    "menuCategoryIds": [3],
                    "name": "Seafood Pesto",
                    "price": 169000,
                    "oldPrice": 179000,
                    "status": "Active",
                    "translations": [
                        "menuItemId": 1,
                        "languageCode": "en",
                        "name": "Seafood Pesto",
                        "description": "Description"
                    ],
                    "itemType": "dish",
                    "isCombo": false,
                    "productPopupDetails": {
                        "translations": [
                            {
                                "languageCode": "en",
                                "translator": {
                                    "size": "Size",
                                    "dough": "Dough",
                                    "topping": "Topping"
                                }
                            }
                        ],
                        "modifierGroups": NULL,
                        "sizes": {
                            "options": [
                                {
                                    "id": 1,
                                    "menuItemId": 1,
                                    "status": "Active",
                                    "isDefault": true,
                                    "price": 0,
                                    "sort": 0,
                                    "translation": [
                                        {
                                            "languageCode": "en",
                                            "name": "small 6"
                                        }
                                    ],
                                }
                            ]
                        },
                        "doughs": {
                            "options": [
                                {
                                    "id": 1,
                                    "menuItemId": 1,
                                    "sizeId": 1,
                                    "status": "Active",
                                    "isDefault": true,
                                    "price": 0,
                                    "sort": 0,
                                    "translations": [
                                        {
                                            "languageCode": "en",
                                            "name": "Pan"
                                        }
                                    ]
                                }
                            ]
                        },
                        "toppings": {
                            "options": [
                                {
                                    "id": 1,
                                    "menuItemId": 1,
                                    "status": "Active",
                                    "price": 29000,
                                    "sort": 0,
                                    "photo": "https://domain.com/photos/toppings/tomato.png",
                                    "translations": [
                                        {
                                            "languageCode": "en",
                                            "name": "Tomato"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    "productFeatures": [
                        {
                            "alias": "best-seller",
                            "icon": "https://domain.com/icons/status/best-seller.png",
                            "translations": [
                                {
                                    "languageCode": "en",
                                    "name": "Best Seller"
                                }
                            ]
                        }
                    ]
                },
                {
                    "id": 2,
                    "menuId": 1,
                    "brandId": 1,
                    "menuCategoryIds": [1],
                    "name": "Combo Cool Price",
                    "price": 169000,
                    "oldPrice": 179000,
                    "status": "Active",
                    "translations": [
                        "menuItemId": 2,
                        "language_code": "en",
                        "name": "Combo Cool Price",
                        "description": "Description"
                    ],
                    "itemType": "combo",
                    "isCombo": true,
                    "productPopupDetails": {
                        "translations": [
                            {
                                "languageCode": "en",
                                "translator": {
                                    "size": "Size",
                                    "dough": "Dough",
                                    "topping": "Topping"
                                }
                            }
                        ],
                        "modifierGroups": [
                            {
                                "id": 1,
                                "code": "1",
                                "menuItemId": 2,
                                "status": "Active",
                                "upLimit": 1,
                                "downLimit": 1,
                                "defaultModifierId": 1,
                                "sort": 0,
                                "translations": [
                                    {
                                        "modifierGroupId": 1,
                                        "languageCode": "en",
                                        "name": "Pizza",
                                        "description": "Description"
                                    }
                                ]
                            },
                            {
                                "id": 2,
                                "code": "2",
                                "status": "Active",
                                "upLimit": 1,
                                "downLimit": 1,
                                "defaultModifierId": 2,
                                "sort": 1,
                                "translations": [
                                    {
                                        "modifierGroupId": 2,
                                        "languageCode": "en",
                                        "name": "Appetizers",
                                        "description": "Description"
                                    }
                                ]
                            },
                            {
                                "id": 3,
                                "code": "3",
                                "status": "Active",
                                "upLimit": 2,
                                "downLimit": 2,
                                "defaultModifierId": 3,
                                "sort": 2,
                                "translations": [
                                    {
                                        "modifierGroupId": 3,
                                        "languageCode": "en",
                                        "name": "Drinks",
                                        "description": "Description"
                                    }
                                ]
                            }
                        ],
                        "sizes": {
                            "options": [
                                {
                                    "id": 1,
                                    "menuItemId": 1,
                                    "status": "Active",
                                    "isDefault": true,
                                    "price": 0,
                                    "sort": 0,
                                    "translation": [
                                        {
                                            "languageCode": "en",
                                            "name": "small 6"
                                        }
                                    ],
                                }
                            ]
                        },
                        "doughs": {
                            "options": [
                                {
                                    "id": 1,
                                    "menuItemId": 1,
                                    "sizeId": 1,
                                    "status": "Active",
                                    "isDefault": true,
                                    "price": 0,
                                    "sort": 0,
                                    "translations": [
                                        {
                                            "languageCode": "en",
                                            "name": "Pan"
                                        }
                                    ]
                                }
                            ]
                        },
                        "toppings": {
                            "options": [
                                {
                                    "id": 1,
                                    "menuItemId": 1,
                                    "status": "Active",
                                    "price": 29000,
                                    "sort": 0,
                                    "photo": "https://domain.com/photos/toppings/tomato.png",
                                    "translations": [
                                        {
                                            "languageCode": "en",
                                            "name": "Tomato"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    "productFeatures": [
                        {
                            "alias": "best-seller",
                            "icon": "https://domain.com/icons/status/best-seller.png",
                            "translations": [
                                {
                                    "languageCode": "en",
                                    "name": "Best Seller"
                                }
                            ]
                        }
                    ]
                },
                {
                    "id": 3,
                    "menuId": 1,
                    "brandId": 1,
                    "menuCategoryIds": [4],
                    "name": "Caesar's salad",
                    "price": 69000,
                    "oldPrice": 79000,
                    "status": "Active",
                    "translations": [
                        "menuItemId": 3,
                        "languageCode": "en",
                        "name": "Caesar's salad",
                        "description": "Salad with caesar dressing"
                    ],
                    "isCombo": false,
                    "productPopupDetails": {
                        "translations": [
                            {
                                "languageCode": "en",
                                "translator": {
                                    "size": "Size",
                                    "dough": "Dough",
                                    "topping": "Topping"
                                }
                            }
                        ],
                        "modifierGroups": NULL,
                        "sizes": {
                            "options": [
                                {
                                    "id": 1,
                                    "menuItemId": 1,
                                    "status": "Active",
                                    "isDefault": true,
                                    "price": 0,
                                    "sort": 0,
                                    "translation": [
                                        {
                                            "languageCode": "en",
                                            "name": "medium 9"
                                        }
                                    ],
                                }
                            ]
                        },
                        "doughs": NULL,
                        "toppings": NULL
                    },
                    "productFeatures": [
                        {
                            "alias": "best-seller",
                            "icon": "https://domain.com/icons/status/best-seller.png",
                            "translations": [
                                {
                                    "languageCode": "en",
                                    "name": "Best Seller"
                                }
                            ]
                        }
                    ]
                },
                {
                    "id": 4,
                    "menuId": 1,
                    "brandId": 1,
                    "menuCategoryIds": [5],
                    "name": "Pasta bolognese",
                    "price": 129000,
                    "oldPrice": 139000,
                    "status": "Active",
                    "translations": [
                        "menuItemId": 4,
                        "languageCode": "en",
                        "name": "Pasta bolognese",
                        "description": "Italian-style mince beef sauce finely mixed with pasta"
                    ],
                    "isCombo": false,
                    "productPopupDetails": {
                        "translations": [
                            {
                                "languageCode": "en",
                                "translator": {
                                    "size": "Size",
                                    "dough": "Dough",
                                    "topping": "Topping"
                                }
                            }
                        ],
                        "modifierGroups": NULL,
                        "sizes": NULL,
                        "doughs": NULL,
                        "toppings": NULL
                    },
                    "productFeatures": [
                        {
                            "alias": "best-seller",
                            "icon": "https://domain.com/icons/status/best-seller.png",
                            "translations": [
                                {
                                    "languageCode": "en",
                                    "name": "Best Seller"
                                }
                            ]
                        }
                    ]
                }
            ],
            "modifiers": [
                {
                    "id": 1,
                    "code": "1",
                    "modifierGroupId": 1,
                    "menuItemId": 111,
                    "price": 129000,
                    "status": "Active",
                    "isDish": true,
                    "translation": [
                        {
                            "modifierId": 1,
                            "languageCode": "en",
                            "name": "Pizza Chat_Ham & Bacon",
                            "description": "Description"
                        }
                    ]
                },
                {
                    "id": 2,
                    "code": "1",
                    "modifierGroupId": 16,
                    "menuItemId": 111,
                    "price": 129000,
                    "status": "Active",
                    "isDish": false,
                    "translation": [
                        {
                            "modifierId": 1,
                            "languageCode": "en",
                            "name": "Note",
                            "description": "Description"
                        }
                    ]
                }
            ]
        }
        
        
## Group Orders

### Post Create Order [/v1/orders/create]

#### Post Create Order [POST]

+ Request (application/json)

    + Headers
            
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MDczZmQyYWIxYTJkNjU3ZmNkZDdmZDEiLCJyb2xlIjoiYmFzaWMiLCJpYXQiOjE2MTg0MTA2NDcsImV4cCI6MTY0OTk0NjY0N30.YgTSSci9mfm6al_wD7dAEFW8SD_ZVYIsm0hix6-Z9rw

    + Body

            {
                "brandId": 1,
                "restaurantId": 1,
                "orderChannel": 1,
                "orderTypeId": 1,
                "tableId": 8888,
                "waiterId": 1,
                "guestTypeId": 1,
                "guestCount": 1
                "orderNote": "",
                "isScheduledOrder": true,
                "deliveryTime": "2021-12-07T17:15:00",
                "deliveryAddress": "full address",
                "customerInfo": {
                    "name": "Hoang Than",
                    "phone": "+84903869596"
                },
                "contactInfo": {
                    "name": "Lang Loi",
                    "phone": "+84933499664"
                },
                "items": [
                    {
                        "itemType": "combo",
                        "menuItemId": 2,
                        "quantity": 2,
                        "components": [
                            {
                                "menuItemId": 6,
                                "modifierId": 11,
                                "note": "less spicy"
                            }
                        ]
                    },
                    {
                        "itemType": "dish",
                        "menuItemId": 1,
                        "quantity": 1,
                        "note": "less spicy"
                    },
                    {
                        "itemType": "digital",
                        "menuItemId": 991,
                        "quantity": 1,
                        "note": ""
                    }
                ],
                "orderSum": 499000,
                "discounts": [
                    { "discountId": 1 }
                ],
                "discountSum": 100000,
                "shippingFee": 0,
                "taxCost": 0,
                "prepay": {
                    "paymentTypeId": 1,
                    "amount": 399000
                }
            }

+ Response 200 (application/json)

    + Headers
    
            Location: /v1/orders/1
            
    + Body
    
            {
                "orderId": 1,
                "guidId": "{3E142020-DB60-4359-99A5-FCA3C6C70FD7}",
                "status": "Processing",
                "createdAt_Middleware": "2021-12-06T15:15:00"
            }


### View Order Details [/v1/orders/{id}]

#### View Order Details [GET]

+ Request (application/json)

    + Headers
            
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MDczZmQyYWIxYTJkNjU3ZmNkZDdmZDEiLCJyb2xlIjoiYmFzaWMiLCJpYXQiOjE2MTg0MTA2NDcsImV4cCI6MTY0OTk0NjY0N30.YgTSSci9mfm6al_wD7dAEFW8SD_ZVYIsm0hix6-Z9rw

+ Parameters
    + id: `1` (number, required)

+ Response 200 (application/json)

        {
            "orderId": 1,
            "guidId": "{3E142020-DB60-4359-99A5-FCA3C6C70FD7}",
            "orderChannelId": 1,
            "orderTypeId": 1,
            "paymentTypeId": 1,
            "tableId": 8888,
            "items": [
                
            ],
            "orderSum": 499000,
            "discountSum": 100000,
            "shippingFee": 0,
            "paidSum": 399000,
            "paymentStatus": "Paid",
            "orderStatus": "Cooking",
            "isScheduledOrder": true,
            "isFirstOrder": true,
            "isBigOrder": false,
            "createdAt_Middleware": "2021-12-06T15:15:00",
            "createdAt_POS": "2021-12-07T10:00:00",
            "printTimeAt_POS": "2021-12-07T16:45:00",
            "deliveredAt": NULL,
            "finalBillTimeAt_POS": NULL
        }